.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer {
  background-color:black;
  position:absolute;
  bottom:0; 
  width:100%;
  height:60px;   /* Height of the footer */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a { 
   margin: 10px;
  padding: 20px;
  background-color: darkblue;
  color: aliceblue;
  align-content: flex-end;

}

.header { 
  height: 150px;
  background-color: black;
  padding-top: 10px;
  
}
.apod-header { 
  color: aliceblue;
  text-align: center;
  text-justify: center;
}
.calendar-form { 
text-align: center;

}

.sign-up-form { 
  border: solid 4px black;
  width: 300px;
  height: 300px;
  text-align: center;
  margin-top: 30px;
  margin-left: 40%;
  flex-wrap: wrap;
  
}
.signup-labels { 
  margin: 10px;
  margin-bottom: 10px;
  
}
.apod-apod{ 
  border: solid 3px black;
  height: fit-content;
  width: 375px;
  padding: 20px;
  margin-top: 30px;
  background-color: white;
  text-align: center;
  /* display: flex; */
  margin: auto; 
  /* position: relative; */
  display: flex-end;


}
.apod-apod img{ 
  height: 250px;
  width: 275px;

}

.outer-apod-div { 
  /* background-color: blue; */
  /* position: relative; */
  /* display: flex; */
  margin-top: 3%;
    
  
  
}


.apod-list {
  display: flex;
  flex-wrap: wrap;
}

.apod-item { 
  border: 2px solid black;
  border-radius: 2em;
  height: fit-content;
  width: 375px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: aliceblue;

  
}
.apod-item img{
  height: 250px;
  width: 275px;
}

